<!-- <h3>{{title}}</h3> 

<div class="list-group">
    <a href="#" class="list-group-item active">
     teknoloji ürünleri
    </a>
</div> -->

  <div class="nav-scroller py-1 mb-2">
   
    <nav class="nav d-flex ">
        <a class="p-2 text-muted"   
        routerLink="/products">Tüm ürünler</a> 
      <a class="p-2 text-muted"
       *ngFor="let category of categorys"     
        routerLink="/products/category/{{category.id}}">{{category.name}}</a> 
       <!-- burda slash oelı o yuzden dikkat edelım  -->
    </nav>
   
  </div>