<form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="form-signin">
    <div class="text-center mb-4">
        <h1>Sisteme Giriş</h1>
    </div>

    <div class="form-label-group">
        <input type="text" id="userName" class="form-control" name=userName #userName="ngModel"
            [(ngModel)]="model.userName" placeholder="kullancı Adı" required autofocus>
        <label for="inputEmail">Kullancı adı</label>
    </div>

    <div class="form-label-group">
        <input type="password" #password="ngModel"  [(ngModel)]="model.password" name="password" id="password"
            class="form-control" placeholder="Şifre" required>
        <label for="inputPassword">Şifre</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Giriş</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2020</p>
</form>