<h3> Yeni ürün Reactive Form</h3>
<form [formGroup]="productAddForm" (ngSubmit)="add()">
    <div class="form-group">
        <input type="text" id="name" name="name" formControlName="name" class="form-control" placeholder="Ürün adı">
        <div class="alert alert-danger"
            *ngIf="productAddForm.get('name').hasError('required') && productAddForm.get('name').dirty">Ürün adı
            zorunludur</div>
    </div>
    <div class="form-group">
        <input type="text" id="description" name="description" formControlName="description" class="form-control"
            placeholder="Ürün Açıklaması">
        <div class="alert alert-danger"
            *ngIf="productAddForm.get('description').hasError('required') && productAddForm.get('description').dirty">
            Ürün Açıklaması
            zorunludur</div>
    </div>
    <div class="form-group">
        <input type="text" id="imageUrl" name="imageUrl" formControlName="imageUrl" class="form-control"
            placeholder="fotoğraf">
        <div class="alert alert-danger"
            *ngIf="productAddForm.get('imageUrl').hasError('required') && productAddForm.get('imageUrl').dirty">
            fotoğraf
            zorunludur</div>
    </div>
    <div class="form-group">
        <input type="number" id="price" name="price" formControlName="price" class="form-control" placeholder="Fiyat">
        <div class="alert alert-danger"
            *ngIf="productAddForm.get('price').hasError('required') && productAddForm.get('price').dirty">
            Fiyat
            zorunludur</div>
    </div>
    <div class="form-group">
        <select class="form-control" formControlName="categoryId" name="categoryId">
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>
        <div *ngIf= "productAddForm.get('categoryId').hasError('required') && productAddForm.get('categoryId').touched" 
        class="alert alert-danger">Kategori gereklidir</div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="productAddForm.invalid">Ürün Ekle </button>



</form>