<!-- <h3 *ngIf="products; else: noProducte">{{title}}</h3> -->
<app-catagory>
</app-catagory>
<div class="form-group">
    <input class="form-control" id="productName" placeholder="Ara" [(ngModel)]="filterText">
    <small *ngIf="filterText" id="emailHelp" class="form-text ">
       şuan  <strong>{{filterText}}</strong>  aradığınız </small>
</div>

<div class="row">
    <ng-template #noProducte>
        <div class="alert alert-danger" role="alert">
            ürün yok
        </div>
    </ng-template>
    <div *ngFor="let product of products | productFilter:filterText" class="productBox" >
        <div class="card" >
        <img [src]="product.imageUrl" class="card-img-top" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"> {{product.name}} {{product.id}}</h5>
            <p class="card-text">
                {{product.description | lowercase}}. {{product.price | currency:'USD':'symbol' :'1.1-3'}}</p>
            <a (click)="addToCart(product.name)" class="btn btn-primary"> Spete ekleyin </a>
        </div>
    </div>
    </div>
</div>

